.ft_container table tr:first-child td,  
.ft_container table tr:first-child th {
    border-top-width: 1px;
    border-color: #CCCCCC;
}
.ft_container table tr td:first-child,
.ft_container table tr th:first-child {
    border-left-width: 1px;
    border-color: #CCCCCC;
}

.ft_container {
    overflow: hidden;
    padding: 0px;
}

.ft_rel_container {
    position: relative;
    overflow: hidden;
    border-width: 0px;
    width: 100%;
    height: 100%;
}

.ft_rc {
    position: absolute;
    z-index: 956;
}

.ft_rc_right {
    position: absolute;
    z-index: 956;
    top: -10px;
}

.ft_r, .ft_c {
    position: relative;
}

.ft_rwrapper, .ft_cwrapper {
    overflow: hidden;
    position: absolute;
    z-index: 955;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
}

.ft_cwrapper_right {
    overflow: hidden;
    position: absolute;
    z-index: 955;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    top: 0;
}

.ft_scroller {
    overflow: scroll;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

