body {
    font-family: Arial, sans-serif;
    font-size: 75%;
    background-color: #f2f2f2;
    padding: 1px; 
}

a, a:link, a:visited, a:active, a:hover {  text-decoration: none; color: #4E6CA3; }
a:hover { text-decoration: underline; }

ul li { list-style: none; }

#header {	
	padding: 8px;
	padding-bottom: 0px;
	height: 150px;
}

.hdr_links { padding: 2px 5px; cursor: pointer; margin-left: 10px;  }

#theme-list { padding: 0px 20px; overflow: auto; height: 300px;  }
li.themes-el { padding: 3px 5px; cursor: pointer; width: 80px; font-size: 0.9em; border:1px solid #c2c2c2; border-radius: 5px; margin: 10px; }
.theme-dd { margin-left: -5px; margin-bottom: -3px; }
.hdr-text { display: inline-block; vertical-align: top; }
#themes { padding-bottom: 0px; margin-top: 5px; }

h2 {
	letter-spacing: 1px;
	margin-bottom: 3px; 
	padding: 5px;
	font-size: 2.5em;
}

h2.title { font-size: 1.1em; padding-left: 12px; }

h1 {
	font-size: 1em;
	letter-spacing: 1px;
	margin-bottom: 3px; 
	padding: 5px;
}

#footer {
	background-color: white;
	border-top:	1px solid #c2c2c2;
	border-bottom: 3px solid #c2c2c2;
	padding: 7px 5px;
}

.beta { font-size: 0.6em; color: #0077DE; }

#page-content {  padding: 7px 0px; margin: 2px; }


#left-content {  padding: 7px 0px; margin: 2px; display: inline-block; width: 18%;}
#main-content {
	border: 0px solid #a2a2a2;
	padding: 6px;
	padding-bottom: 10px;
	display: inline-block;
	width: 80%;
	vertical-align: top;
	/*background-color: #ebf1f9;
	margin-left: 145px;*/
}

#tabs { min-height: 600px; } 

/*.buttons { margin-top: 10px; text-align: right; padding: 5px; }
.buttons button { padding: 2px 4px; margin-left: 5px; }*/

.reportsTable { margin-top: 2px; width: 100%; /*background-color: white; color: #363636;*/ }
.reportsTable td { padding: 3px; }
.reportsTable a, .reportsTable a:link, .reportsTable a:visited, .reportsTable a:active { /*color: #2779AA;*/ font-weight: bold; }
.reportsTable a:hover { color: orange; }

#c_overlay {
 /*filter:alpha(opacity=20); 
 -moz-opacity: 0.2; 
 opacity: 0.2;*/ 
 z-index: 1010; 
 position: absolute; 
 top: 0; 
 left: 0;
 background-color: white;
}	
#c_overlay_status {
	border: 1px solid black;
	font-size: 0.9em;
	font-weight: bold;
	color: #363636;
	left: 50%;
	line-height: 1.3em;
	padding: 15px;
	padding-left: 35px;
	position: fixed;
	text-align: left;
	top: 50%;
	width: auto;
	max-width: 200px;
	z-index: 1011;
	background: #fff url("../images/ajax-loader.gif") no-repeat 7% center; 
}

div.category { margin-left: 5px; width: 99%; }
.report-content { padding: 5px; text-align: center; }
.ajax_wait { padding: 5px; padding-left: 35px; background: transparent url("../images/ajax-loader.gif") no-repeat 2% center; }
.odd { /*background-color: #EBEBEB;*/ }

.display-inline { display: inline !important; }
.float-left { 	float: left !important; }
.float-right { 	float: right !important; }
.text-align-right { text-align: right !important; }
.clear { 
  overflow: hidden;
  clear: both;
  height: 5px; 
}

.example { margin: 5px 2px; padding: 2px 5px; }
.example .e_title { margin: 5px; padding: 5px; padding-bottom: 2px; border-bottom: 2px solid white; font-size: 1.5em; }